body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(166, 215, 236);
}
.calculator {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btn {
    width: 65px;
    height: 65px;
    font-size: 20px;
}
.display {
    height: 60px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.row {
    display: flex;
    justify-content: center;
}
.trig-buttons {
    display: none;
}
h2{
    position: absolute;
    top: 35px;
    left: 35px;
}